.Header {
  display: flex;
  justify-content: space-evenly;

  & .Header-text {
    & h2 {
      font-size: 3rem;
    }
    & p {
      font-size: 1.5rem;
      color: #555;
    }
  }
  & .Header-links {
    & a {
      text-decoration: none;
    }
    & svg {
      fill: #333;
    }
  }
}
