.Header {
  display: flex;
  justify-content: space-evenly;

  & .Header-text {
    & h2 {
      font-size: 3rem;
    }
    & p {
      font-size: 1.5rem;
      color: #555;
    }
  }
  & .Header-links {
    display: flex;
    justify-content: space-around;

    & a {
      text-decoration: none;
    }

    & svg {
      width: 2rem;
      height: 2rem;
      fill: #3f51b5;
    }
  }
}
