.MuiPaper-root {
  background-color: rgba(0, 0, 0, 0) !important;
}

.MuiPaper-root.MuiExpansionPanel-root.MuiPaper-elevation1 {
  margin-bottom: 2%;

  &:last-child {
    margin-bottom: 0%;
  }
}

.ShortDetails {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & div {
    & h3 {
      font-size: 1.8rem;
    }

    & p {
      margin: 3% 0;
      font-size: 1rem;
    }
  }

  & .Project-links {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & a {
      text-decoration: none;
      font-weight: 600;
      padding: 0.5rem 0.5rem;
      border-radius: 10%;
    }
  }
}

.Description {
  font-size: 1.3rem;
}
