.DrawerMenu {
  height: 100vh;
  width: 70vw;
  top: 0;
  background: $bg-color-darkmode;
  position: absolute;
  & .Slider-links {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 10%;
    & a {
      margin: 5% 0;
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
}
